.mainDark {
  background: #2d2121;
}
.darkGreen {
  background: #6f623f;
}
.woodColor {
  background: #895034;
}
.green {
  background: #91a987;
}
.darkGray {
  background: #a2a7aa;
}
.gray {
  background: #dce0e0;
}
.white {
  background: #fffffa;
}
